common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_DO_NOT_DETECT_SWIFT_TOOLCHAIN=1

common --bes_backend=grpcs://remote.buildbuddy.io
common --bes_results_url=https://app.buildbuddy.io/invocation/
common --extra_execution_platforms=@llvm//:rbe_platform
common --jobs=50
common --remote_cache=grpcs://remote.buildbuddy.io
common --remote_cache_compression
common --remote_executor=grpcs://remote.buildbuddy.io
common --remote_timeout=10m

common --per_file_copt=external/.*llvm-project.*@-Wno-thread-safety-analysis
common --host_per_file_copt=external/.*llvm-project.*@-Wno-thread-safety-analysis

# Load any settings specific to the current user.
# .bazelrc.user should appear in .gitignore so that settings are not shared with team members
# This needs to be last statement in this
# config, as the user configuration should be able to overwrite flags from this file.
# See https://docs.bazel.build/versions/master/best-practices.html#bazelrc
# (Note that we use .bazelrc.user so the file appears next to .bazelrc in directory listing,
# rather than user.bazelrc as suggested in the Bazel docs)
try-import %workspace%/.bazelrc.user
